.nav-bar {
    display: none;

    &__nav-list {
        /* -nav-bar__nav-list */
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style-type: none;


        @media screen and (min-width: 992px) {
            & {
                flex-direction: row;
            }
        }
    }

    &__nav-item {
        /* .nav_bar__nav-item */
        text-align: center;
        background-color: pink;
    }

    &__nav-link {
        display: block;
        background-color: #f1f2f3;
        padding: 1rem 8rem;
        color: darkred;
        font-weight: 700;
        text-decoration: none;
    }

    @media screen and (min-width: 992px) {
        & {
            display: block;
        }
    }
}

.main-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #f2f2f2;
    background-image: url(/public/imgs/interpork-planta.jpg);
    background-position: center;
    background-size: cover;
    padding: 20px;


    &__contacto {
        display: flex;
        flex-direction: column;
        /* width: 48%; */

    }

    &__mapa {

        width: 22rem;
        height: 25rem;
        border: 0.313rem solid #c90035;

        @media screen and (min-width: 992px) {
            width: 58rem;
            height: 48rem;

        }
    }


    &__h2 {
        display: flex;
        justify-content: space-evenly;
        font-size: 24px;
        font-weight: bold;
        color: black;
    }

    &__fieldset {
        width: 22rem;
        height: 25rem;
        background: #ffffff;
        border-radius: 5px;

    }

    &__legend {
        font-size: large;
        font-weight: 600;
        padding: 5px;
        border-radius: 5px;
        color: darkred;
        background-color: #f1f2f3;
        text-align: center;
    }

    &__casilla {
        margin-left: 0.75rem;
        width: 20rem;
        border: 0;
        border-bottom: 2px solid #c90035;
        padding-bottom: 0.25rem;


        

        &:focus {
            outline: 0;
            border-bottom: 2px solid #c90035;
        }

        &:hover {
            border: none;
        }
    }

    &__label {
        margin-left: 0.75rem;
        font-size: smaller;
        color: #b8b8b8;
    }

    &__checkbox {
        margin-top: 30px;
        margin-left: 10px;
        width: 15px;
        height: 15px;
        background: #c90035;
        border-radius: 3px;
    }

    &__label-checkbox {
        font-size: 15px;
        padding-bottom: 10px;
    }

    &__botones {
        
        color: #c90035;
        
        font-size: 15px;
        padding: 10px;
        margin-top: 30px;
        border: 1px solid  darkred;
        border-radius: 5px;
        width: 150px;
        
    }





}