
.nav-bar { 
    display: none;

    &__nav-list { /* -nav-bar__nav-list */
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style-type: none;
        

        @media  screen and (min-width: 992px ) {
            & {
                flex-direction: row;
            }
        }
    }

    &__nav-item { /* .nav_bar__nav-item */
        text-align: center;
        background-color: pink;
    }

    &__nav-link {
        display: block;
        background-color: #f1f2f3;
        padding: 1rem 8rem;
        color: darkred;
        font-weight: 700;
        text-decoration: none;
    }

    @media screen and (min-width: 992px) {
        & {
            display: block;
        }
    }
}

